/* contact.css */

/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Color de fondo gris claro */
}

/* Estilo para el nav */
nav {
    background-color: #000; /* Fondo negro */
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center; /* Centra los elementos */
    padding: 0;
}

nav ul li {
    margin: 0 15px; /* Espaciado entre los elementos */
}

nav ul li a {
    color: #fff; /* Color del texto blanco */
    text-decoration: none;
    padding: 10px 15px; /* Espaciado interno */
    border: 1px solid transparent; /* Borde inicial */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s, border-color 0.3s; /* Transición suave */
}

nav ul li a:hover {
    background-color: #686c6d; /* Fondo azul claro al pasar el ratón */
    border-color: #fff; /* Cambiar borde a blanco al pasar el ratón */
}

/* Heading styles */
h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

h2 {
    font-size: 2em;
    margin-top: 30px;
    color: #555;
    text-align: center;
}

h3 {
    font-size: 1.5em;
    margin-top: 20px;
    color: #444;
}

/* Paragraph styles */
p {
    font-size: 1.2em;
    line-height: 1.6;
    text-align: left; /* Left-aligning paragraphs */
    margin: 10px 0;
}

/* Container styles for contact details */
.contact-container {
    background-color: white; /* White background */
    padding: 20px; /* Padding around the content */
    border-radius: 10px; /* Semi-rounded corners */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
    margin: 20px auto; /* Centering the container */
    max-width: 600px; /* Max width for better readability */
}

/* Link styles */
a {
    color: #0073e6; /* Default link color */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* LinkedIn icon styles */
img {
    display: block;
    margin: 0px ; /* Centering the icon */
}